html {
  margin: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  line-height: 1.5;
}

body {
  margin: 0;
  border-radius: 0.5em;
  padding: 0.5em;
  background: white;
  color: black;
}

#site-header {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: center;
  line-height: 1.0;
  color: #004000;
}

#site-header a {
  color: inherit;
  text-decoration: none;
}

#site-header span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 120%;
  font-family: "Times New Roman", serif;
  font-weight: bolder;
  font-style: italic;
}

body > hgroup,
body > h1 {
  display: block;
  margin: 0 0 1.5em;
  border-bottom: #004000 2px solid;
  padding: 0.5em;
}

h1 {
  display: block;
  font-size: 200%;
}

body > h1 {
  margin: 0 0 0.75em;
  padding: 0.25em;
}

hgroup h1 {
  margin: 0;
  letter-spacing: 0.2em;
}

h1 ruby {
  display: inline;
}

h1 ruby rt {
  display: inline;
  font-size: 40%;
}

h1 ruby rt + rt {
  margin-left: 1em;
  letter-spacing: 0.1em;
}

hgroup h2 {
  display: block;
  margin: 0;
  font-size: 100%;
  letter-spacing: 0.2em;
}

section h1 {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 150%;
}

section p,
section ul,
section ol,
section dl,
section table {
  margin-left: 1em;
  margin-right: 1em;
}

.map {
  width: 20em;
  height: 20em;
}

.map:empty {
  display: none;
}

.content {
  width: 100%;
  position: relative;
}

@media (min-width: 50em) {
  .content {
    display: table;
  }
}

.content-links {
  position: absolute;
  right: 1em;
  top: -1.5em;
  font-size: 90%;
}

.main {
  padding: 0 0.5em;
  vertical-align: top;
}

@media (min-width: 50em) {
  .main {
    display: table-cell;
  }
}

.breadcrumbs {
  display: block;
  margin: 0 0 1em;
  font-size: 80%;
}

.breadcrumbs p {
  margin: 0;
  display: inline;
}

.breadcrumbs p + p::before {
  content: "  /  ";
  white-space: pre-wrap;
}

.summary:not([hidden]) {
  display: block;
}

.summary blockquote {
  margin: 0;
}

.summary p {
  text-indent: 1em;
  margin: 0;
}

.summary cite {
  display: block;
  font-size: 70%;
  color: #ccc;
  text-align: right;
  line-height: 1.2;
  font-style: italic;
}

.summary cite::before {
  content: "\2015\2015  ";
}

.summary cite a {
  color: inherit;
  text-decoration: none;
}

.main-spots + * {
  clear: both;
}

article.spot {
  display: block;
  margin: 0 1em 1em;
  padding: 0.3em;
  min-height: 5em;
}

article.spot:hover {
  outline: #ffa solid 5px;
}

article.spot a {
  text-decoration: none;
  color: inherit;
}

article.spot a:hover {
  text-decoration: none !important;
  color: inherit;
}

article.spot h1 {
  display: block;
  margin: 0;
  font-size: 130%;
  line-height: 1.2;
}

article.spot h1 rt {
  font-size: 60%;
  font-weight: normal;
  letter-spacing: 0.2em;
}

article.spot:hover a h1 {
  text-decoration: underline;
  color: #0000EE;
}

article.spot:hover a:visited h1 {
  color: #551A8B;
}

article.spot figure {
  display: block;
  margin: 0 0 1em 1em;
  float: right;
}

article.spot figure img {
  width: 270px;
  max-height: 270px;
}

article.spot blockquote {
  margin: 0;
  padding: 0;
}

article.spot blockquote p {
  margin: 1em;
  font-size: 90%;
}

article.spot footer {
  display: block;
  clear: both;
  margin: 0;
  border-style: none;
  padding: 0;
}

article.page {
  display: block;
  margin: 1em;
  position: relative;
  clear: both;
}

article.page header {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}

article.page h1 {
  display: block;
  margin: 0;
  font-size: 100%;
  line-height: 1.2;
}

article.page .host,
li.page .host {
  margin: 0;
  text-indent: 0;
  font-size: 80%;
  color: gray;
  line-height: 1.1;
}

article.page .info {
  display: table-cell;
  vertical-align: top;
  font-size: 80%;
  min-width: 5em;
}

article.page .info p {
  margin: 0;
  line-height: 1.0;
  color: gray;
  text-align: right;
}

article.page time {

}

article.page .counts {

}

article.page .counts span {
  margin-left: 0.5em;
}

article.page blockquote.summary {
  margin: 1em 0 1em 1em;
  font-size: 85%;
}

article.page blockquote.summary p {
  text-indent: 0;
}

article.page.youtube-video header,
article.page.youtube-video .info {
}

article.page.youtube-video blockquote.summary {

}

article.page.youtube-video blockquote.summary iframe {
  width: 360px;
  height: 240px;
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  border: none 0;
}

li.spot ruby {
  display: inline;
}

li.spot rt {
  display: inline;
  font-size: 75%;
  letter-spacing: 0.2em;
}

li.page {
  position: relative;
}

li.page .counts {
  margin-left: 0.3em;
  font-size: 75%;
  color: gray;
}

.seq-pages {
  font-weight: normal;
  font-size: 80%;
}

.seq-page {
  display: inline-block;
  min-width: 1em;
  text-align: center;
  text-indent: 0;
  font-size: 130%;
}

section.go-data,
section.ksj-data {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: black;
  border: 1px solid #aaa;
  padding: 0.3em 0.5em;
  background: #f9f9f9;
}

section.ksj-data {
  min-height: 52px;
}

section.go-data > h1 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

section.go-data table,
section.ksj-data table {
  width: 100%;
  margin: 0.3em;
  margin-bottom: 0;
}

section.ksj-data caption {
  text-align: left;
}

section.ksj-data caption strong {
  font-size: 120%;
}

section.go-data tbody,
section.ksj-data tbody {
  font-size: 90%;
}

section.go-data th,
section.ksj-data th {
  text-align: left;
}

section.go-data figure {
  margin: 0;
  padding: 0;
}

section.go-data figure img {
  max-width: 10em;
  max-height: 10em;
}

section.go-data ul.links {
  display: block;
  margin: 0;
  padding: 0;
}

section.go-data ul.links > li {
  display: inline;
  font-size: 90%;
  margin-right: 1em;
  padding: 0;
}

section.go-data ul.links > li.source a {
  color: gray;
}

section.ksj-data footer {
  margin: 0;
  border-style: none;
  padding-top: 0;
  text-align: right;
  font-size: 75%;
  color: gray;
}

section.wikipedia {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: black;
  border: 1px solid #aaa;
  padding: 0.3em 0.5em 0.3em 54px;
  min-height: 52px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/40px-Wikipedia-logo-v2.svg.png) no-repeat 6px center #f9f9f9;
}

section.wikipedia h1 {
  display: block;
  margin: 0;
  font-weight: bolder;
  font-size: 120%;
}

section.wikipedia ul {
  display: inline;
  margin: 0;
  padding: 0;
}

section.wikipedia li {
  display: inline;
  margin: 0 1em 0 0;
}

section.wikipedia a {
  color: inherit;
  text-decoration: none;
}

section.wikipedia a:hover {
  text-decoration: underline;
}

nav.tabs {
  display: block;
  margin: 0 1em;
  border-top: none 1px black;
  border-bottom: solid 1px black;
  padding-left: 0.3em;
}

section + nav.tabs {
  border-top-style: solid;
  border-bottom-style: none;
}

nav.tabs > a {
  display: inline-block;
  min-width: 5em;
  border: 1px gray;
  border-style: solid solid none solid;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  text-align: center;
  text-decoration: none;
  background-color: #eee;
  color: black;
}

section + nav.tabs > a {
  border-style: none solid solid solid;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

nav.tabs > a.selected {
  background-color: transparent;
  color: inherit;
  font-weight: bolder;
}

section.tab {
  padding: 1em;
}

section.tab > h1 {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 100%;
}

.tab-enabled section.tab > h1 {
  display: none;
}

.videos iframe {
  width: 100%;
  height: 25em;
}

.videos ul {
  padding: 0;
}

.videos ul > li {
  display: block;
  margin-bottom: 1em;
}

.videos ul > li::after {
  clear: both;
  content: "";
  display: block;
}

.videos ul > li a {
  color: inherit;
  text-decoration: none;
}

.videos ul > li figure {
  margin: 0;
}

.videos ul > li figure img {
  float: left;
  margin-right: 0.6em;
  margin-bottom: 0.6em;
}

.videos ul > li figcaption {
  font-size: 90%;
}

.videos ul > li figcaption > time {
  margin-left: 1em;
  color: gray;
  font-size: 90%;
}

.videos ul > li figcaption p {
  margin: 0;
  font-size: 80%;
}

.child-spots {
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-column-count: 2;
  column-count: 2;
}

.child-spots section {
  display: block;
  margin-bottom: 1em;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.child-spots section h1 {
  display: block;
  margin: 0 0 1em 0;
  border-bottom: 1px solid;
  padding-bottom: 0.1em;
  font-size: 110%;
}

.child-spots section h1 a {
  color: inherit;
  text-decoration: none;
}

.child-spots section h1 ruby {
  display: inline;
}

.child-spots section h1 ruby rt {
  display: inline;
  font-size: 40%;
  font-weight: normal;
}

.child-spots section ul {
  margin: 0 1em;
  padding: 0;
}

.child-spots section ul li {
  display: block;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  font-size: 90%;
  text-indent: -1em;
}

.child-spots section ul li::before {
  content: "\25B6   ";
  white-space: pre;
}

.child-spots > ul {
  margin: 0;
  padding: 0;
}

.child-spots > ul > li {
  display: block;
  margin: 0;
  padding: 0;
}

.links ul {
  display: block;
  margin: 1em;
  padding: 0;
}

.links ul li {
  display: inline;
  margin: 0 1em 0 0;
  padding: 0;
}

.additional-list {
  margin: 1em;
  padding: 0;
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  column-width: 15em;
  line-height: 1.4;
}

.additional-list li {
  display: block;
  margin-bottom: 0.5em;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.side {
  display: table-cell;
  width: 300px;
  vertical-align: top;
  padding: 0 1em;
}

.side > * {
  margin: 0 0 0.3em 0;
  text-align: right;
}

.additional-names {
  padding: 0;
}

.additional-names li {
  display: block;
  text-align: left;
}

.additional-names li ruby {
  display: inline;
  font-weight: bolder;
}

.additional-names li ruby rt {
  display: inline;
  font-size: 80%;
  letter-spacing: 0.2em;
  font-weight: normal;
}

.side figure {
  display: block;
}

.side figure img {
  max-height: 300px;
  width: 300px;
  max-width: 300px;
  vertical-align: bottom;
}

.side .map {
  width: 300px;
  height: 300px;
}

.side .ads-rectangle {
  display: block;
  text-align: center;
}

.related-spots {
  text-align: left;
}

.related-spots {
  display: block;
  margin-top: 0.7em;
  font-size: 90%;
}

.related-spots h1 {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.related-spots h1::after {
  content: ":";
  margin-right: 0.8em;
}

.related-spots ul {
  display: inline;
  margin: 0;
  padding: 0;
}

.related-spots ul li {
  display: inline;
  margin: 0 0.8em 0 0;
  padding: 0;
}

.search {
  text-align: left;
}

.search p,
.search ul {
  margin: 0.5em 0;
  padding: 0;
}

.search ul li {
  display: block;
}

section.text p {
  margin: 0.3em 1em;
  text-indent: 1em;
}

.edit {
  background-color: #feecd1;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 80%;
}

.edit form {
  display: inline;
  margin: 0 0.5em;
}

html.edit {
  font-size: 100%;
}

nav:empty {
  display: none;
}

nav.edit {
  position: absolute;
  right: 10em;
  top: 1em;
}

article.page > .edit {
  position: absolute;
  display: none;
  right: 0;
  bottom: 0;
  text-align: right;
}

article.page > .edit {
  display: none;
}

article.page:hover > .edit {
  display: block;
}

li.page > .edit {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
}

li.page:hover > .edit {
  display: block;
}

.selected {
  background-color: #f0f6ff;
}

.page-add form input[type=text],
.page-add form input[type=url] {
  width: 100%;
}

.page-add form button {
  min-width: 5em;
  padding: 0.3em;
}

footer {
  display: block;
  margin-top: 2em;
  border-top: #004000 1px solid;
  padding-top: 0.5em;
  color: #004000;
  font-size: 90%;
  text-align: right;
}

footer a {
  margin-left: 1em;
  text-decoration: none;
  color: inherit;
}

#license figure {
  font-size: 90%;
}

#license figure p {
  margin-top: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: underline !important;
  background-color: #ffa;
  color: black;
}

a:link:hover {
  color: #0000EE;
}

a:visited:hover {
  color: #551A8B;
}

.with-unit {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.with-unit .unit {
  margin-left: 0.1em;
}

.unit sup {
  font-size: 80%;
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('/fonts/LigatureSymbols.eot');
  src: url('/fonts/LigatureSymbols.eot?#iefix') format('embedded-opentype'),
       url('/fonts/LigatureSymbols.woff') format('woff'),
       url('/fonts/LigatureSymbols.ttf') format('truetype'),
       url('/fonts/LigatureSymbols.svg#LigatureSymbols') format('svg');
  src: url('/fonts/LigatureSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf-icon::before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-size: 120%;
  margin-right: 0.3em;
  line-height: 1.0;
}
